<h1>Hello Angula 19</h1>
<h2>{{title}}</h2>
<h2>{{2+2}}</h2>
<login></login>
<button (click)="handleClickEvent()">Click Me</button><br><br>
<input type="text" id="fname" name="fname" (input)="inputEvent($event)"><br><br>

<input type="text"  placeholder="Enter email"  #emailField><br><br>
<button (click)="getEmail(emailField.value)">Get Email</button><br><br>
<button (click)="setEmail()">Set Email</button><br><br>

@if(toggleDiv){
<div style="background-color:red ;height: 25px;width: 25px;"></div>
}
@else{
    <div style="background-color:green ;height: 25px;width: 25px;"></div>
}

<button (click)="toggle()">{{toggleDiv?'show green dix':'show red div'}}</button><br><br>

<h1>For loop</h1>
@for(user of users;track user){
<h3>{{user}}</h3>
}
<h1>Signals</h1>
<h3>{{count()}}</h3>
<button (click)="increaseSIgnal()">Increase signal</button>
<h1>Signals data type</h1>
<button (click)="showSIgnal()">show signal</button>
<h1>Usage of signals and computed</h1>
<button (click)="showValue()">show signal value</button>
<h1>Effect</h1>
@if(displayHeading){
<div style="background-color:yellow ;height: 25px;width: 25px;"></div>
}
@else{
    <div style="background-color:blueviolet ;height: 25px;width: 25px;"></div>
}
<button (click)="showHeading()">show Heading</button>

<h1>For loop-Contextual variable</h1>
@for(user of users;track user;
let f=$first;
let l=$last;
let i=$index

){

@if(f || l){
<h3 style="background-color: aqua;">{{$index+1}} {{user}}</h3>
}@else{
<h3>{{i+1}} {{user}}</h3>

}
<!-- <h3>{{$count}}</h3> -->
}

@for(employee of employees;track employee)
{

<h3>{{employee}}</h3>

}
@empty(){
    <h3>No records found</h3>
}

<h1>Two way binding</h1>
<input type="text" [(ngModel)]="name" placeholder="Enter name"><br><br>
<h3>{{name}}</h3>

<h1>To do list</h1>
<input type="text" [(ngModel)]="task" placeholder="Enter new task"><br><br>
<button (click)="addTask()">Add Task</button><br><br>
@for(task of taskList;track task.id)
{
<ul class="taskList">
    <li>{{task.id}}</li>
    <li>{{task.task}}</li>
    <li><button (click)="deleteTask(task.id)">Delete Task</button><br><br></li>
</ul>

}

<h3 [style.backgroundColor]="bgColor"
[style.fontSize.px]="fontSize"
>Dynamic style</h3>

<h1 >Directive</h1>
<h3 *ngIf="show">Heading Tag</h3>

<ul >
    <li *ngFor="let x of usersData">{{x.name}}  {{x.age}}  {{x.email}}</li>

</ul>

<h3 >*ngSwitch directive</h3>
<div [ngSwitch]="color">
    <h3 *ngSwitchCase="'red'" style="background-color:red">Red color</h3>
    <h3 *ngSwitchCase="'blue'" style="background-color:blue">Blue color</h3>
    <h3 *ngSwitchCase="'green'" style="background-color:green">Green color</h3>
    <h3 *ngSwitchDefault >No color</h3>
</div>

<h3 >*ngIf directive</h3>
<div *ngIf="login; else elseBlock">
    <a herf="">logout</a>
 </div>
 <ng-template #elseBlock>
     <a herf="">logout</a>
</ng-template>

<h1 > Routing</h1>
<ul>
    <li>
        <a routerLink="/signup">signup</a>
    </li>

    <li>
    <a routerLink="/login">login</a>
    </li>

</ul>

<router-outlet />









